#id1{
    background-color:#a7c0ad;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(62, 124, 62)
    
}

#img1{
border-radius: 10%;
border: 5px solid #555;
}